<div class="form-group">
  <label>Skill</label>
  <input
    type="text"
    class="form-control"
    id="name"
    [(ngModel)]="skill.name"
    name="name"
    placeholder="Enter name"
  />
</div>
<div class="form-group">
  <label>Level</label>
  <input
    type="text"
    class="form-control"
    id="level"
    [(ngModel)]="skill.level"
    name="level"
    placeholder="Enter level"
  />
</div>
<button class="btn btn-dark" (click)="addSkill()">SEND</button>

<button class="btn btn-success">Add</button>
<button class="btn btn-danger">Delete</button>
<button class="btn btn-dark">Clear</button>

<ul class="list-group">
  <li class="list-group-item list-group-item-dark" *ngFor="let skill of skills">
    {{ skill.level }} {{ skill.name }}
  </li>
</ul>
